.btn {
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--color-primary-100);
  color: var(--color-primary-text);
  font-size: 1.2rem;
  font-weight: var(--font-medium);
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);

  &:hover {
    background-color: var(--color-primary-50);
  }

  &:disabled {
    background-color: var(--color-primary-100);
    cursor: not-allowed;
  }
}
