.container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
}

.grid {
  height: 55vh;
  aspect-ratio: 1;
  position: relative;

  &__game-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    place-items: center;
  }

  &__game-popup {
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
    font-size: 1.5rem;

    &--info {
      background: var(--color-primary-100);
      color: var(--color-primary-text);
    }

    &--win {
      background: var(--color-green-100);
      color: var(--color-primary-text);
    }

    &--alert {
      background: var(--color-danger);
      color: var(--color-primary-text);
    }
  }

  border: 1px solid var(--color-surface-700);

  &__row {
    display: flex;
    width: 100%;
  }

  &__cell {
    // width: 20%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-surface-300);

    border: 1px solid var(--color-surface-700);

    &:hover {
      background-color: var(--color-surface-500);
      cursor: pointer;
    }

    &--on {
      background-color: var(--color-yellow-200);

      &:hover {
        /*TODO add proper hover color*/
        background-color: var(--color-yellow-100);
      }
    }
  }

  &__circle {
    aspect-ratio: 1;

    width: 30%;
    height: 30%;
    border-radius: 50%;
    background-color: var(--color-primary-200);
  }
}
